<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Santosh News Application</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/jobs.css" %}">
  </head>
  <body>
    <div class="container" align='center'>
      <div class="jumbotron" >
        <h1 class="display-4">Welcome to Santosh News Application</h1>
        <p class="lead">Continuous News Update for Every Minute</p>
        <hr class="my-4">
        <a class="btn btn-success btn-lg" href="./movies" role="button" target="_blank">Movie News</a> &nbsp &nbsp
        <a class="btn btn-success btn-lg" href="./sports" role="button" target="_blank">Sports News</a> &nbsp &nbsp
        <a class="btn btn-success btn-lg" href="./politics" role="button" target="_blank">Political News</a> &nbsp &nbsp

      </div>
    </div>
  </body>
</html>
